img{
width:20%;
  height:200px;
  border-style:dotted;
  border-color:#283593;
  border-width:6px;
  padding:3px;
}
body{
  text-align:center;
  background-color:#FFCDD2;
    font-size: 40;
}
9